---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import BackToPrevious from "@components/BackToPrevious.astro";

export async function getStaticPaths() {
  const issues = await getCollection("issues", ({ data }) => !data.draft);

  // Get unique tags
  const tags = [...new Set(issues.flatMap((issue) => issue.data.tags || []))];

  // Create paths for each tag
  return tags.map((tag) => ({
    params: { id: tag },
    props: {
      issues: issues.filter((issue) => issue.data.tags?.includes(tag)),
    },
  }));
}

const { id } = Astro.params;
const { issues } = Astro.props;

// Sort issues by date, most recent first
const sortedIssues = issues.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
);
---

<Layout title={`Tag: ${id}`} description={`Issues with the tag: ${id}`}>
  <Container>
    <div class="space-y-10" data-pagefind-ignore>
      <BackToPrevious href="/tags"> All tags </BackToPrevious>
      <h1 class="animate font-semibold text-black dark:text-white">
        Issues tagged with "{id}"
      </h1>
      <ul class="animate flex flex-col gap-4">
        {sortedIssues.map((issue) => <ArrowCard entry={issue} />)}
      </ul>
    </div>
  </Container>
</Layout>
