---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="about"
	description="ethdevnews curates Ethereum news for the developer community"
	pubDate={new Date('March 27 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		ethdevnews curates Ethereum news for the developer community.
	</p>
	<p>
		We stand on the shoulders of <a href="https://weekinethereumnews.com">Week in Ethereum News</a> (August 2017 to December 2024).
	</p>
</Layout>
